<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
     Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contact">  
    
    <ion-card>
             
        <ion-card-header class="danger-bg">
            Contactez-nous par mail
        </ion-card-header>
        
        <ion-item>
            <ion-label floating>Nom:</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label floating>Email:</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label floating>Sujet:</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label floating>Description:</ion-label>
            <ion-textarea>                  </ion-textarea>
        </ion-item>
        
       
        
    </ion-card>
    <ion-item>
           
        <ion-button block danger large color="danger">Envoyer</ion-button>
    </ion-item>

    <ion-col width-30  class="center" color="danger" >
        <a href="http://facebook.com">
            <ion-button color="danger">
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-button> 
        </a>
        </ion-col>
   
        <ion-col width-20  class="center" > 
            <a href="http://twitter.com">
                <ion-button color="danger">
                    <ion-icon name="logo-twitter"></ion-icon>
                </ion-button> 
            </a>
            </ion-col>

            <ion-col width-20  class="center" >
                <a href="http://gmail.com">
                    <ion-button color="danger">
                        <ion-icon name="ios-mail"></ion-icon>
                    </ion-button> 
                </a> 
                </ion-col>

                


                

    
</ion-content>
